<div class="form-row">
    <div class="form-group">
        <label>From - To</label>
        <div class="input-with-icon">
            <i class="fas fa-map-marker-alt"></i>
            <input type="text" name="route" placeholder="Lahore - Karachi">
            <i class="fas fa-exchange-alt right-icon"></i>
        </div>
    </div>
    <div class="form-group">
        <label>Trip</label>
        <div class="input-with-icon">
            <select name="tripType">
                <option value="Round trip">Return</option>
                <option value="One Way">One Way</option>
            </select>
            <i class="fas fa-chevron-down right-icon"></i>
        </div>
    </div>
    <div class="form-group">
        <label>Depart - Return</label>
        <div class="input-with-icon">
            <input type="text" name="dates" placeholder="07 Nov 22 - 13 Nov 22">
            <i class="fas fa-calendar-alt right-icon"></i>
        </div>
    </div>
    <div class="form-group">
        <label>Passenger - Class</label>
        <div class="input-with-icon">
            <i class="fas fa-user"></i>
            <input type="text" name="passengers" placeholder="1 Passenger, Economy">
        </div>
    </div>
</div>
