<div class="form-row">
    <div class="form-group">
        <label>Enter Destination</label>
        <div class="input-with-icon">
            <i class="fas fa-bed"></i>
            <input type="text" name="location" placeholder="Istanbul, Turkey">
        </div>
    </div>
    <div class="form-group">
        <label>Check In</label>
        <div class="input-with-icon">
            <input type="text" name="checkIn" placeholder="Fri 12/2" onfocus="(this.type='date')" onblur="(this.type='text')">
            <i class="fas fa-calendar-alt right-icon"></i>
        </div>
    </div>
    <div class="form-group">
        <label>Check Out</label>
        <div class="input-with-icon">
            <input type="text" name="checkOut" placeholder="Sun 12/4" onfocus="(this.type='date')" onblur="(this.type='text')">
            <i class="fas fa-calendar-alt right-icon"></i>
        </div>
    </div>
    <div class="form-group">
        <label>Rooms & Guests</label>
        <div class="input-with-icon">
            <i class="fas fa-user"></i>
            <input type="text" name="guests" placeholder="1 room, 2 guests">
            <i class="fas fa-chevron-down right-icon"></i>
        </div>
    </div>
</div>
